<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>No User Found</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="./pages/errorPage/css/base.css">
   <link rel="stylesheet" href="./pages/errorPage/css/main.css">
   <link rel="stylesheet" href="./pages/errorPage/css/vendor.css">

   <!-- script
   ================================================== -->
	<script src="./pages/errorPage/js/modernizr.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="./pages/errorPage/favicon.png">

</head>

<body background="./pages/errorPage/images/slides/greens.jpg">

	<!-- header
   ================================================== -->
   <header class="main-header">


   </header> <!-- /header -->

   <!-- navigation
   ================================================== -->

	<!-- main content
   ================================================== -->
   <main id="main-404-content" class="main-content-static">

   	<div class="content-wrap">

		   <div class="shadow-overlay"></div>

		   <div class="main-content">
		   	<div class="row">
		   		<div class="col-twelve">

			  			<h1 class="kern-this">Error.</h1>
			  			<p>
						This Item wasnt posted by you and thus you are not allowed to Resolve it from the DataBase. Click <a href="/viewAllLost">this link </a> to go back.
			  			</p>


			   	</div> <!-- /twelve -->
		   	</div> <!-- /row -->
		   </div> <!-- /main-content -->


		</div> <!-- /content-wrap -->

   </main> <!-- /main-404-content -->

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="./pages/errorPage/js/jquery-2.1.3.min.js"></script>
   <script src="./pages/errorPage/js/plugins.js"></script>
   <script src="./pages/errorPage/js/main.js"></script>

</body>

</html>
