<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center"><kbd>This Site is Created By: </kbd></h2>
<div class="container">
<div class="card col-lg-4">
	<img src="./pages/aboutUsPage/Swati.jpg" alt="Swati" style="width:100%">
	<h1>Swati Bhandari</h1>
	<p class="title">M.Tech in CSIS</p>
	<p>IIIT,Hyderabad</p>
	<div style="margin: 24px 0;">
		<a href="#"><i class="fa fa-dribbble"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-linkedin"></i></a>
		<a href="#"><i class="fa fa-facebook"></i></a>
	</div>
	<p><button>Contact</button></p>
</div>
<div class="card col-lg-4">
  <img src="./pages/aboutUsPage/Mitesh.jpg" alt="Mitesh" style="width:100%">
  <h1>Mitesh Shah</h1>
  <p class="title">M.Tech in CSE</p>
  <p>IIIT,Hyderabad</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
 </div>
 <p><button>Contact</button></p>
</div>
<div class="card col-lg-4">
  <img src="./pages/aboutUsPage/Rahil.jpg" alt="Rahil" style="width:100%">
  <h1>Rahil Sheth</h1>
  <p class="title">M.Tech in CSE</p>
  <p>IIIT,Hyderabad</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
 </div>
 <p><button>Contact</button></p>
</div>
</div>
<p class="bg-info">Click <a href="/" class="btn btn-default">here</a> to go back to the HomePage.</p>
</body>
</html>
