<div class="container"  style="background-color:aqua; width:100%">
	<div class="cta pull-right">

			<a class="text-primary" href="/Logout">Logout</a>

		<a class="text-primary" href="/SignUplogin">SignUp/Login</a>
		
	</div>
		<div class="row">
				<div class="col-sm-8">
						<div class="navigationcta" >

								<nav class="collapse navbar-left navbar-collapse" role="navigation">

										<ul id="menu-primary-navigation" class="nav navbar-nav" style="color:black">
												<li class="active menu-home">
														<a class="text-primary" href="/">Home</a>
												</li>
												<li class="menu-about">
														<a class="text-primary" href="">About</a>
												</li>
												<li class="menu-contact">
													<a class="text-primary" href="">Contact</a>
												</li>
												<li class="menu-search">
													<a class="text-primary" href="">Search</a>
												</l>
										</ul>
								</nav>
						</div>
						<div class="clearfix"></div>

				</div>
	</div>
</div>
